body {
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #79b4b7, #79b4b7);
    height: 100vh;
    font-family: "Acme", sans-serif;
    color: #f8f0df;
}
.login-box {
    margin-top: 75px;
    height: auto;
    background: #f8f0df;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
}

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27ef9f, #0db8de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #707070;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

/* input[type="text"] {
    background-color: #f8f0df;
    border: none;
    border-bottom: 2px solid #707070;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ecf0f5;
} */

/* input[type="password"] {
    background-color: #f8f0df;
    border: none;
    border-bottom: 2px solid #707070;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ecf0f5;
} */

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #707070;
    outline: 0;
    background-color: #f8f0df;
    color: #ecf0f5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #6c6c6c;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline {
    border-color: #707070;
    color: #707070;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline:hover {
    background-color: #bababa;
    right: 0px;
}

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: left;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #a2a4a4;
}

.loginbttm {
    padding: 0px;
}
.register {
    background-color: #f8f0df;
    border-radius: 15px;
    font-family: "Acme", sans-serif;
}
.font {
    color: #f8f0df;
    font-size: 40px;
    font-family: "Acme", sans-serif;
    text-shadow: 1px 2px 2px #707070;
}

.btn {
    background-color: #f8f0df;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition-duration: 0.5s;
}
.btn:hover {
    background-color: #b6b1a6;
    transition-duration: 0.4s;
}
.card {
    background-color: #f8f0df;
}
.login {
    font-family: "Acme", sans-serif;
}
.kotakprofil {
    background-color: #f8f0df;
    font-family: "Acme", sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
